<script type="text/javascript">
    function Point(x, y) {
        this.x = x;
        this.y = y;
    }

    function Sprite(sheetSize, frameSize, position, img, frameRate, layer) {
        this.x = position.x;
        this.y = position.y;
        this.width = frameSize.x;
        this.height = frameSize.y;
        this.onDragEnd = $.noop();
        var that = this;

        this.collides = function (hitbox) {
            return that.x < hitbox.x + hitbox.width &&
                that.x + that.width > hitbox.x &&
                that.y < hitbox.y + hitbox.height &&
                that.y + that.height > hitbox.y;
        };
        

        this.draw = function () {
            var imageObj = new Image();
            var currentFrame = new Point(0, 0);
            var animations = { idle: [] };

            while (currentFrame.y * frameSize.y < sheetSize.y) {
                while (currentFrame.x * frameSize.x < sheetSize.x) {
                    animations.idle.push({
                        x: frameSize.x * currentFrame.x,
                        y: frameSize.y * currentFrame.y,
                        width: frameSize.x,
                        height: frameSize.y
                    });
                    ++currentFrame.x;
                }
                currentFrame.x = 0;
                ++currentFrame.y;
            }

            imageObj.onload = function () {
                var sprite = new Kinetic.Sprite({
                    x: position.x,
                    y: position.y,
                    image: imageObj,
                    animation: 'idle',
                    animations: animations,
                    frameRate: frameRate,
                    index: 0,
                    draggable: true,

                });

                sprite.on('mouseover', function () {
                    document.body.style.cursor = 'pointer';
                });
                sprite.on('mouseout', function () {
                    document.body.style.cursor = 'default';
                });
                sprite.on('dragend', function () {
                    that.x = sprite.getX();
                    that.y = sprite.getY();
                    that.onDragEnd();
                });
                layer.add(sprite);
                sprite.start();
            };

            imageObj.src = img;
        };
    }

</script>

<div id="container"></div><div id="contents"></div>

<script type="text/javascript">

    $(function () {

        var stage = new Kinetic.Stage({
            container: 'container',
            width: 578,
            height: 200
        });

        var layer = new Kinetic.Layer();
        stage.add(layer);
        var spritelist = [];

        var white = new Sprite(new Point(288, 172), new Point(96, 96), new Point(0, 0), '@Url.Content("~/Content/Sprites/bubble.png")', 7, layer);
        var black = new Sprite(new Point(288, 96), new Point(96, 96), new Point(100, 100), '@Url.Content("~/Content/Sprites/black.png")', 7, layer);

        spritelist.push(white);
        spritelist.push(black);

        var hub = $.connection.Sprites;
        
        hub.client.match = function () {
            alert("OMPH! Pan wybaczy!");
        };

        $.connection.hub.start().done(function () {
            spritelist.forEach(function (sprite) {
                sprite.onDragEnd = function () {
                    var currIndex = spritelist.indexOf(sprite);
                    for (var i = 0; i < spritelist.length; i++) {
                        if (i != currIndex) {
                            if (sprite.collides(spritelist[i])) {
                                hub.server.match(sprite.x, sprite.y);
                            }
                        }
                    }
                };
            });

            spritelist.forEach(function (sprite) {
                sprite.draw();
            });
        });
    });

</script>
